<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul
    class="row heroes">
    <li
        class="twelve columns" 
        *ngFor="let hero of heroes" 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero">
        <span 
            class="badge">{{hero.id}}</span> {{hero.name}}
        <a 
            class="delete-link u-pull-right" 
            (click)="deleteHero(hero, $event)">Delete</a>
    </li>
</ul>
<div 
    class="error" 
    *ngIf="error">{{error}}</div>
<button
    class="button-primary"
    *ngIf="!addingHero"
    (click)="addHero()">Add New Hero</button>
<div 
    *ngIf="addingHero">
    <my-hero-detail 
        (close)="close($event)"></my-hero-detail>
</div>
<div 
    *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button 
        (click)="gotoDetail()">
        View Details
    </button>
</div>