<div *ngIf="hero">
    <form>
        <div class="row">
            <div>
                <label>id: {{ newHeroId }}</label>
            </div>
            <div class="twelve columns">
                <label for="exampleEmailInput">Details: {{ hero.name }}</label>
                <input [(ngModel)]="hero.name" class="u-full-width" type="text" placeholder="name" />
            </div>
        </div>
        <button class="button" (click)="goBack()">Back</button>
        <button class="button-primary" (click)="save()">Save</button>
    </form>
</div>
